
body {
background-color: #6e9bc2;
margin: 0;
padding: 0;
text-align:center;
text-decoration: none;
}
.jr{width:auto;}
.runecast1 img{width: 10%;}
.runecast2 img{width: 10%;}
.runa{
width: 10%;
display: inline-block;
text-align: center;}

.button {
       background-color: #e6d7a3;
   color: #240409;
   padding: 3px 2px;
   text-align: center;
   font-family: 'Uncial Antiqua', cursive;
   text-decoration: none;
   font-size: 20px;
   border: 3px solid #240409;
   border-radius: 30%;
 }
#result {color: #b3045e;}
.buttons { text-align: center;}
.intro {padding : 10px 125px;}

.explanation {padding : 5px 125px;}
h2 {
  margin: 30px;
  font-family: 'Uncial Antiqua', cursive;
  text-shadow: 4px 0 #232931;
  font-size: 8rem;
  font-weight: bold;
  color: #84ad93;
  text-align: center;
}
h3 {text-align: center;
  font-family: 'Uncial Antiqua', cursive;
   color: #b3045e;
 text-shadow: 1px 0 #232931;
 font-size: 2rem;
}
.means {margin-bottom: 20px;}
.meaning {
text-align: justify;}
.mr { 
  color:#66ad80;
  text-shadow: 2px 0 #232931;
  color: #84ad93;
  text-decoration: inherit;}    
     
    
.morerunes a{text-decoration: none;}
.outcome {margin-top: 0;}
h4 {text-align: center;
  font-family: 'Averia Serif Libre', cursive;
   color: #240409; padding-top: 0; padding-bottom: 0;
   margin-top: 0;
   font-size: 1.5rem;}
p {
  font-size: 1.5rem;
  font-family: 'Uncial Antiqua', cursive;
}
.pdown { text-align: center;}
.pattern-bottom { width: 100%;
 padding: 0;
 margin: 0;
}
footer{margin-bottom: 1%;}
footer p{
  padding: 1px;
  font-size: 20px;
  color: #EEEEEE;
  text-align: center;
  display:inline;
  font-family: 'Serif';}

  @media (max-width: 900px) {
  .runecast1 img{width:31%;}
  .runecast2 img{width:31%;}
  }

  @media (max-width: 750px) {
    .intro  {padding:5px;
      margin: 5px;
      text-align: left;}
    .explanation  {padding:5px;
        margin: 5px;
        text-align: left;}
    h2 {font-size: 4.0rem; }
    h3 {font-size: 1.8rem;}
    h4{font-size: 1.5rem;
         }
    .runecast1 img{width:30%;}
    .runecast2 img{width:30%;}
    .button{font-size: 22px;}
    .run img {width: 35%;
            }
    .par {
      font-size: 22px;
        }
    .earth1 .runa{text-align:center;
     display:inline-table;}
    .earth2 .runa{text-align:center;
     display:inline-table;}
    .warrior1 .runa{text-align:center;
     display:inline-table;}
    .warrior2 .runa{text-align:center;
     display:inline-table;}
    .heaven1 .runa{text-align:center;
     display:inline-table;}
    .heaven2 .runa{text-align:center;
     display:inline-table;}
    }


